@media screen and (max-width: 1024px) {
	/* Заготовки */
	:root {
		--resizer: 1800;
		--transition: .4s all linear;
    --crop-width: 30px;
    --crop-height: 5px;
    --border-width: 2px;
	}

	.logotype {
		width: 250px;
		height: 40px;
	}

	.burger {
		display: flex;
		transform: rotate(180deg) scale(0.7);
	}

	label {
		display:flex;
		flex-direction:column;
		width:70px;
		cursor:pointer;
	}

	label span {
		background: #fff;
		border-radius:10px;
		height:7px;
		margin: 7px 0;
		transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	label span:nth-of-type(1) {
		width:50%;
	}

	label span:nth-of-type(2) {
		width:100%;
	}

	label span:nth-of-type(3) {
		width:75%;
	}

	label input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

	label input[type="checkbox"]:checked ~ span:nth-of-type(1) {
		transform-origin:bottom;
		transform:rotatez(45deg) translate(8px,0px)
	}

	label input[type="checkbox"]:checked ~ span:nth-of-type(2) {
		transform-origin:top;
		transform:rotatez(-45deg)
	}

	label input[type="checkbox"]:checked ~ span:nth-of-type(3) {
		transform-origin:bottom;
		width:50%;
		transform: translate(30px,-11px) rotatez(45deg);
	}

	.button {
    min-width: 170px;
		padding: 25px 50px 20px 50px;
	}

	.button .glitch {
		text-transform: capitalize;
	}

	.button .corner-s, .button .corner-f {
    height: 15px;
    width: 15px;
	}

	.button .corner-f {
    -webkit-clip-path: polygon(100% 0,0 0,0 100%);
    clip-path: polygon(100% 0,0 0,0 100%);
    left: calc(var(--border-width) + 3px);
    top: calc(var(--crop-height) + var(--border-width) + 3px);
	}

	.button .corner-s {
    bottom: calc(var(--border-width) + 3px);
    -webkit-clip-path: polygon(100% 0,100% 100%,0 100%);
    clip-path: polygon(100% 0,100% 100%,0 100%);
    right: calc(var(--border-width) + 3px);
	}

	.button:hover .corner {
    height: 500%;
    width: 1100%;
	}

	.button p {
    font-size: 20px;
	}

	.glitch:after {
		-webkit-animation: noise-anim 2s infinite linear alternate-reverse;
		animation: noise-anim 2s infinite linear alternate-reverse;
	}

	.glitch:before{
		-webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
		animation: noise-anim-2 3s infinite linear alternate-reverse;
	}

	.menu {
		display: none;
	}

	.headTitle span {
    font-size: 22px;
	}

	.headTitle svg {
    bottom: 5px;
    min-width: 200px;
	}

	/* Intro */
	.intro {
    position: relative;
    padding: 30px 25px;
    background: url('../img/bg/home.png') 81% / cover no-repeat;
    min-height: 100vh;
	}

	.introHead .logotype,
	.introHead .burger {
		position: relative;
		z-index: 99;
	}

	.introHead nav {
		position: absolute;
		flex-direction: column;
		align-items: center;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		background: url('../img/bg/menu.png') 50% / cover no-repeat;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: var(--transition);
		overflow-y: scroll;
	}

	.headerNavRow {
		display: flex;
		flex-direction: column;
		margin: 200px 0 0 0;
		padding: 0 0 100px 0;
		width: 100%;
		overflow-y: scroll;
	}

	.headerNavRow::-webkit-scrollbar {
		width: 0;
		display: none;
	}

	.introHead nav, .introHead .navLinkS {
		align-self: center;
	}

	.introHead nav .button {
		display: none;
	}

	.introHead nav ul {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	.introHead nav ul li {
		position: relative;
		margin: 0 0 82px 0;
		text-align: center;
		font-family: 'Neue Machina';
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		color: rgba(255, 255, 255, 0.56);
		transition: var(--transition);
	}

	.introHead nav ul li::after {
		content: '';
		position: absolute;
		top: 150%;
		left: 50%;
		width: 25px;
		height: 25px;
		transform: translate(-50%, 50%);
		background: url('../img/png/star.png') center / cover no-repeat;
	}

	.introHead nav ul li:last-child::after {
		content: none;
	}

	.introHead nav .navLink {
    margin: 0 31px 0 0;
	}

	.introHead nav .navLink:nth-child(1) {
    width: 26px;
    height: 21.5px;
	}

	.introHead nav .navLink:nth-child(2) {
    width: 27px;
    height: 23px;
	}

	.introHead nav .navLink:nth-child(3) {
    width: 30px;
    height: 30px;
	}

	.introHead nav .navLink:last-child {
		margin: 0;
	}

	.introHead nav ul li.active,
	.introHead nav ul li:hover {
		color: #fff;
	}

	.introHead nav ul li a {
		color: inherit;
	}

	.intro h1 {
		text-align: center;
    font-size: 66px;
    letter-spacing: 20px;
	}

	.intro .row {
		flex-direction: column-reverse;
    margin: 70px 0 0 0;
	}

	.intro .row .button {
		margin: 0;
		align-self: center;
	}

	.intro .row .button:last-child {
    margin: 0 0 30px 0;
	}

	.intro.active .introHead nav {
		top: 0;
		opacity: 1;
		visibility: visible;
		z-index: 9;
	}

	/* Factions */
	.factions {
		justify-content: center;
    padding: 30px 25px;
		background: url('../img/bg/factions-mob.png') center / cover no-repeat;
		background-attachment: local;
	}

	.factionsRow {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.factionsTitle,
	.factionsItems {
    width: 85%;
    align-self: center;
	}

	.factionsTitle h2 {
		font-size: 55px;
		line-height: 100%;
		letter-spacing: 10px;
	}

	.factionsItems {
		margin: 84px 0 0 0;
	}

	.factionsItem,
	.factionsItem:last-child {
		margin: 20px 0 0 0;
		align-self: center;
		width: 100%;
	}

	.factionsItem.active {
		z-index: 9;
	}

	.factionsItemTitle {
    margin: 0 29px 0 0;
    font-size: 30px;
	}
	.factionsItemF,
	.factionsItemF svg {
    width: 91px;
    height: 95px;
	}

	.factionsItemBody {
		width: 85%;
		max-height: 0;
	}

	.factionsItem.active .factionsItemBody {
		max-height: 500px;
		overflow: visible;
	}

	.factionsItemImg {
    width: 100%;
    height: auto;
	}

	.factionsItemImg p, .factionsItemImg img {
		display: flex;
	}

	.factionsItemBody .button {
    top: 90%;
    left: 10%;
		z-index: 9;
	}

	.factionsItemImg::before {
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
	}

	.factionsItemImg::after {
    left: 5px;
    bottom: 5px;
    width: 35px;
    height: 35px;
	}

	.factionsItems::after {
    top: 30px;
    right: 0;
    width: 10px;
    transform: translateX(-37px);
    height: 90%;
	}

	.factionsItem:nth-child(even) .factionsItemF {
		right: -7px;
	}

	.factionsMoreInner {
		padding: 35px 25px;
	}

	.factionsMoreImg {
		display: flex;
    margin: 150px 0 100px 0;
		max-width: 90%;
    height: auto;
		align-self: center;
	}

	.factionsMoreImg img {
		width: 100%;
	}

	.factions .factionsMoreTitle {
    margin: 0 0 20px 0;
    font-size: 20px;
		width: 90%;
    max-width: none;
		align-self: center;
	}

	.factionsMoreF {
		display: none;
	}

	.factionsMoreRow {
		margin: 51px 0 0 0;
	}

	.factionsMoreItem {
    margin: 0 0 30px 0;
		padding: 13% 0;
    width: 48%;
    height: auto;
    border-width: 2px;
    backdrop-filter: blur(50px);
	}

	.factionsMoreItem p, .factionsMoreItem img {
    width: 200px;
    height: 160px;
	}

	.factionsMoreInner.active {
		overflow-y: scroll;
	}

	.factionsMoreItem:nth-child(even) {
		position: static;
	}

	/* Roadmap */
	.roadmap {
    padding: 50px 25px;
		background-position: center right;
		background-attachment: local;
		min-height: 100vh;
		transition: var(--transition);
	}

	.roadmap .headTitle span {
    padding: 0 15px 0 0;
	}

	.roadmap h2 {
		margin: 40px 0 0 0;
    font-size: 55px;
    letter-spacing: 18px;
	}

	.roadmapItemF, .roadmapItemF svg {
    width: 91px;
    height: 95px;
	}
	.roadmapItems::after {
    top: 100px;
    left: 43px;
    width: 10px;
	}
	.roadmapItems {
		margin: 60px 0 0 0;
	}
	.roadmapItem {
		margin: 0 0 50px 0;
	}

	.roadmapItemBody {
    margin: 0 0 0 45px;
    padding: 45px 40px;
    width: 500px;
    backdrop-filter: blur(5px);
    border-width: 2px;
	}

	.roadmapItemNum {
    margin: 0 0 5px 0;
    font-size: 41px;
	}
	.roadmapItemTitle, .roadmapItemText {
    font-size: 14px;
	}
	.roadmapItemText {
    margin: 5px 0 0 0;
	}

	.roadmapItemBody:hover {
    width: 550px;
    background: linear-gradient(250deg, rgba(255, 255, 255, 0.70) -24.77%, rgba(255, 255, 255, 0.85) 105.99%);
    clip-path: polygon(32.7% 0%, 35.9% 3.8%, 100% 4%, 100% 95%, 63.3% 95.3%, 60.2% 100%, 0% 100%, 0% 0%);
	}
	.roadmapItemBody:hover .roadmapItemNum {
    font-size: 52px;
	}
	.roadmapItemBody:hover .roadmapItemTitle, .roadmapItemBody:hover .roadmapItemText {
		font-size: 16px;
	}

	.roadmapItemBody .corner {
    width: 15px;
    height: 15px;
	}

	.roadmapItemBody .corner-f {
    bottom: 5px;
    left: 5px;
	}

	.roadmapItemBody .corner-s {
    right: 5px;
    top: 27px;
	}

	.roadmapItemBody:hover .corner-s {
		top: 15px;
	}

	/* Collaborations */
	.collaborations {
    background: url('../img/bg/collaborations.png') center right / cover no-repeat;
    bottom: 1px;
    min-height: 42vh;
	}

	.collaborations h2 {
    margin: 34px 0 0 0;
    font-size: 44px;
    letter-spacing: 8.3px;
	}

	.collaborationsRow {
    margin: 40px 0 0 0;
		padding: 0 10%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.collaborationsItem {
    margin: 0 0 25px 0;
		padding: 5% 0;
    width: 23%;
    height: auto;
	}

	.collaborationsItem p {
    font-size: 18px;
	}

	.collaborationsItem .corner {
    width: 10px;
    height: 10px;
	}

	.collaborationsItem .corner-f {
    bottom: 5px;
    left: 5px;
	}

	.collaborationsItem .corner-s {
    right: 5px;
    top: 11px;
	}

	/* FAQ */
	.faq {
		bottom: 1px;
    padding: 33px 45px;
    background: url('../img/bg/faq.png') top / cover no-repeat;
    min-height: 100vh;
	}

	.faq h2 {
    margin: 34px 0 0 0;
    width: 800px;
    font-size: 54px;
    letter-spacing: 8.5px;
	}

	.faqRow {
    margin: 90px 0 0 0;
    padding: 5px 0 0 0;
		width: 100%;
    backdrop-filter: blur(26px);
    border: 2px solid rgba(255, 255, 255, 0.33);
		flex-wrap: wrap;
		clip-path: polygon(16.6% 0%, 18.8% 0.8%, 100% 0.8%, 100% 99.3%, 79.5% 99.3%, 78.2% 100%, 0% 100%, 0.1% 0%);
	}

	.faqItems {
    padding: 40px 0 0 0;
    width: 100%;
    border-bottom: 2px solid #fff;
	}

	.faqItems .faqItem {
    padding: 20px 30px;
    border-bottom: 2px solid #fff;
	}

	.faqItemDe {
		border-bottom: 2px solid #fff;
	}

	.faqItem h3 {
		margin: 0 0 15px 0;
		font-size: 31px;
		letter-spacing: 3px;
	}

	.faqItem p {
    font-size: 20px;
	}

	.faqItem h4 {
    margin: 5px 0 0 0;
    font-size: 24px;
	}

	.faqItemDe div {
    padding: 10px 0;
    width: 33%;
    border-right: 2px solid #fff;
	}

	.faqItemDe div:nth-child(1) svg {
    width: 63px;
    height: 25px;
	}

	.faqItemDe div:nth-child(2) svg {
    margin: 0 2.5px;
    width: 26.51px;
    height: 26.51px;
	}

	.faqItemDe div:nth-child(3) svg {
    margin: 0 1px;
    width: 30px;
    height: 19px;
	}

	.faqItemDc div {
    padding: 20px;
	}

	.faqItemDc div:first-child {
    border-right: 2px solid #fff;
	}

	.faqItemDc div:first-child svg {
    width: 69px;
    height: 69px;
	}

	.faqItemDc:last-child svg {
    margin: 0 5px;
    width: 45px;
    height: 45px;
	}
}

@media screen and (max-width: 600px) {
	/* Заготовки */
	.logotype {
    width: 150px;
    height: 25px;
	}
	.burger {
    zoom: 40%;
		transform: rotate(180deg);
	}

	label span {
    height: 4px;
    margin: 8px 0;
	}

	.button {
    min-width: 170px;
    padding: 25px 30px 20px 30px;
	}

	.button p {
		font-size: 19px;
	}

	.button .corner-f {
    -webkit-clip-path: polygon(100% 0,0 0,0 100%);
    clip-path: polygon(100% 0,0 0,0 100%);
    left: calc(var(--border-width) + 5px);
    top: calc(var(--crop-height) + var(--border-width) + 5px);
	}

	.button .corner-s {
    bottom: calc(var(--border-width) + 5px);
    -webkit-clip-path: polygon(100% 0,100% 100%,0 100%);
    clip-path: polygon(100% 0,100% 100%,0 100%);
    right: calc(var(--border-width) + 5px);
	}

	.button .corner-s, .button .corner-f {
    height: 11px;
    width: 11px;
	}

	.headTitle span {
		font-size: 15px;
	}

	.headTitle svg {
		min-width: 169px;
	}

	/* Intro */
	.intro {
    padding: 35px 25px;
	}

	.intro h1 {
		font-size: 50px;
		line-height: 100%;
		letter-spacing: 10.5px;
	}

	.intro .row .button:last-child {
		margin: 0 0 25px 0;
	}

	.headerNavRow {
		margin: 150px 0 0 0;
	}

	/* Factions */
	.factionsTitle h2 {
		font-size: 44px;
		letter-spacing: 8.4px;
	}

	.factionsItemTitle {
    margin: 0 20px 0 0;
    font-size: 19px;
	}

	.factionsTitle, .factionsItems {
		width: 100%;
	}

	.factionsItemF, .factionsItemF svg {
		width: 61px;
    height: 65px;
	}

	.factionsItem:nth-child(even) .factionsItemF {
    right: -5px;
	}

	.factionsItems::after {
    width: 7px;
    transform: translateX(-25px);
	}

	.factionsItemImg::before,
	.factionsItemImg::after {
    width: 18px;
    height: 18px;
	}

	.factionsItemBody {
		width: 77%;
	}

	.factionsItemBody .button {
		zoom: 66%;
	}

	.factionsMoreInnerHead .button {
		zoom: 80%;
	}

	.factionsMoreImg {
		margin: 100px 0 40px 0;
	}

	.factions .factionsMoreTitle {
		font-size: 13px;
	}

	.factionsMoreItem {
		padding: 20% 0;
		width: 100%;
	}

	/* Roadmap */
	.roadmap h2 {
    margin: 20px 0 0 0;
    font-size: 40px;
    letter-spacing: 8.4px;
	}

	.roadmapItemF, .roadmapItemF svg {
    width: 71px;
    height: 75px;
	}

	.roadmapItemBody {
    margin: 0 0 0 25px;
    padding: 30px 25px;
    width: 65%;
    backdrop-filter: blur(16px);
    border-width: 3px;
		clip-path: polygon(30% 0%, 36.3% 7.3%, 100% 7%, 100% 93%, 73.3% 93.3%, 66.7% 100%, 0% 100%, 0% 0%);
	}

	.roadmapItemTitle, .roadmapItemText {
		font-size: 13px;
	}

	.roadmapItemBody:hover {
		width: 100%;
	}

	.roadmapItemBody:hover .roadmapItemTitle, .roadmapItemBody:hover .roadmapItemText {
		font-size: 14px;
	}

	.roadmapItems::after {
    top: 100px;
    left: 32px;
    width: 10px;
		height: 85%;
	}

	.roadmapItemNum {
		font-size: 35px;
	}

	.roadmapItemBody:hover .roadmapItemNum {
		font-size: 41px;
	}

	.roadmapItem:nth-child(even) .roadmapItemF {
		right: -3px;
	}

	.factions-roadmap {
		top: 197vh;
		height: 100px;
	}

	/* Collaborations */
	.collaborations {
		min-height: 58vh;
	}

	.collaborations h2 {
		font-size: 22px;
	}

	.collaborationsItem p {
		font-size: 11px;
	}

	.collaborationsItem {
    margin: 0 0 15px 0;
    padding: 10% 0;
    width: 47%;
    height: auto;
	}

	/* FAQ */
	.faq {
		padding: 20px 25px;
		bottom: 2px;
    background: url('../img/bg/faq.png') center right / cover no-repeat;
	}

	.faq h2 {
    margin: 25px 0 0 0;
    width: 100%;
    font-size: 30px;
	}

	.faqRow {
		margin: 30px 0 0 0;
	}

	.faqItem h3 {
    font-size: 23px;
	} 

	.faqItem p {
    font-size: 16px;
	}

	.faqItem h4 {
		font-size: 20px;
	}

	.faq h2 svg {
    width: 25px;
    height: 25px;
	}
}