/* Подключение шрифтов */
@font-face {
  font-family: 'TTOctosquares-Regular';
  src: url('../fonts/TTOctosquares-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTOctosquares-Medium';
  src: url('../fonts/TTOctosquares-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard';
  src: url('../fonts/MazzardH-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard';
  src: url('../fonts/MazzardH-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard';
  src: url('../fonts/MazzardM-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Move-X';
  src: url('../fonts/Move-XBolddemo.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Обнуление стилей*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;  
}

/* body */
body {
	font-family: 'Mazzard';
  overflow-x: hidden;
  background-color: #000;
}

/* Заготовки */
:root {
  --resizer: 1800;
  --transition: all .4s linear;
  --crop-width: calc(30vw / var(--resizer) * 100);
  --crop-height: calc(5vw / var(--resizer) * 100);
  --border-width: calc(2vw / var(--resizer) * 100);

  --crop2-width: calc(90vw / var(--resizer) * 100);
  --crop2-height: calc(15vw / var(--resizer) * 100);
  --border2-width: calc(6vw / var(--resizer) * 100);
}

.logotype {
  width: calc(250vw / var(--resizer) * 100);
  height: calc(40vw / var(--resizer) * 100);
}

.logotype p,
.logotype img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.glitch {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.glitch:after {
  clip: rect(0, calc(9999vw / var(--resizer) * 100), 0, 0);
  content: attr(data-text);
  left: 0;
  overflow: hidden;
  position: absolute;
  text-shadow: calc(-1vw / var(--resizer) * 100) 0 #ab77a9;
  top: 0;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: calc(170vw / var(--resizer) * 100);
  padding: calc(25vw / var(--resizer) * 100) calc(30vw / var(--resizer) * 100) calc(20vw / var(--resizer) * 100) calc(30vw / var(--resizer) * 100);
  -webkit-clip-path: polygon(0 var(--crop-height),calc(100% - var(--crop-width) - var(--crop-height)) var(--crop-height),calc(100% - var(--crop-width)) 0,100% 0,100% 100%,calc(var(--crop-width) + var(--crop-height)) 100%,calc(var(--crop-width)) calc(100% - var(--crop-height)),0 calc(100% - var(--crop-height)));
  clip-path: polygon(0 var(--crop-height),calc(100% - var(--crop-width) - var(--crop-height)) var(--crop-height),calc(100% - var(--crop-width)) 0,100% 0,100% 100%,calc(var(--crop-width) + var(--crop-height)) 100%,calc(var(--crop-width)) calc(100% - var(--crop-height)),0 calc(100% - var(--crop-height)));
  cursor: pointer;
  transition: var(--transition);
  overflow: hidden;
}

.button.transparent {
  background: transparent;
  color: #fff;
}

.button.white {
  background: #fff;
  color: #000;
}

.button.mod-1 {
  background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
  color: #000;
}

.button.mod-2 {
  background: linear-gradient(87deg, #60B3FF 1.72%, #6BB3BD 92.09%);
  color: #000;
}

.button.mod-3 {
  background: linear-gradient(86deg, #68E3D5 1.79%, #B24AC2 111.16%);
  color: #000;
}

.button.mod-4 {
  background: linear-gradient(87deg, #8FF2F8 2.59%, #FFD84E 109.21%);
  color: #000;
}

.button:not(.white):after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  clip-path: polygon(0 var(--crop-height),calc(100% - var(--crop-width) - var(--crop-height)) var(--crop-height),calc(100% - var(--crop-width)) 0,100% 0,100% 100%,calc(var(--crop-width) + var(--crop-height)) 100%,calc(var(--crop-width)) calc(100% - var(--crop-height)),0 calc(100% - var(--crop-height)),0 calc(100% - var(--crop-height) - var(--border-width)),calc(var(--crop-width) + var(--border-width)) calc(100% - var(--crop-height) - var(--border-width)),calc(var(--crop-width) + var(--border-width) + var(--crop-height)) calc(100% - var(--border-width)),calc(100% - var(--border-width)) calc(100% - var(--border-width)),calc(100% - var(--border-width)) var(--border-width),calc(100% - var(--crop-width) + var(--border-width)) var(--border-width),calc(100% - var(--crop-width) + var(--border-width) - var(--crop-height)) calc(var(--border-width) + var(--crop-height)),var(--border-width) calc(var(--crop-height) + var(--border-width)),var(--border-width) calc(100% - var(--crop-height) - var(--border-width)),0 calc(100% - var(--crop-height) - var(--border-width)));
}

.button p {
  position: relative;
  text-align: center;
  font-family: 'Neue Machina';
  font-size: calc(20vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transition: .5s ease-in-out;
  z-index: 2;
}

.button .corner {
  transition: .5s ease-in-out;
}

.button .corner-f {
  -webkit-clip-path: polygon(100% 0,0 0,0 100%);
  clip-path: polygon(100% 0,0 0,0 100%);
  left: calc(var(--border-width) + calc(3vw / var(--resizer) * 100));
  top: calc(var(--crop-height) + var(--border-width) + calc(3vw / var(--resizer) * 100));
}

.button .corner-s {
  bottom: calc(var(--border-width) + calc(3vw / var(--resizer) * 100));
  -webkit-clip-path: polygon(100% 0,100% 100%,0 100%);
  clip-path: polygon(100% 0,100% 100%,0 100%);
  right: calc(var(--border-width) + calc(3vw / var(--resizer) * 100));
}

.button .corner-s,
.button .corner-f {
  height: calc(15vw / var(--resizer) * 100);
  position: absolute;
  width: calc(15vw / var(--resizer) * 100);
  animation: cornerAnimation 5s infinite;
}

.button.white .corner {
  background-color: #000;
}


.button.transparent .corner {
  background-color: #fff;
}

.button.white:hover .corner {
  background-color: #000;
}

.button.white:hover p {
  color: #fff;
}

.button.mod-1 .corner,
.button.mod-2 .corner,
.button.mod-3 .corner,
.button.mod-4 .corner {
  background-color: #000;
}


.button.mod-1::after,
.button.mod-2::after,
.button.mod-3::after,
.button.mod-4::after {
  background-color: transparent;
}

.button.mod-1:hover .corner,
.button.mod-2:hover .corner,
.button.mod-3:hover .corner,
.button.mod-4:hover .corner {
  background-color: #000;
}

.button.mod-1:hover p,
.button.mod-2:hover p,
.button.mod-3:hover p,
.button.mod-4:hover p {
  color: #fff;
}

.button:hover .glitch:after {
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  clip: rect(0, calc(9999vw / var(--resizer) * 100), 0, 0);
  content: attr(data-text);
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-shadow: calc(2vw / var(--resizer) * 100) 0 #05d003;
}

.button:hover .glitch:before{
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

h1.glitch:before{
  -webkit-animation: noise-anim-2 9s infinite linear alternate-reverse;
  animation: noise-anim-2 9s infinite linear alternate-reverse;
}

h1.glitch:after {
  -webkit-animation: noise-anim 7s infinite linear alternate-reverse;
  animation: noise-anim 7s infinite linear alternate-reverse;
}

.heading:before {
  transform: translateX(calc(-1vw / var(--resizer) * 100));
  text-shadow: calc(1vw / var(--resizer) * 100) 0 #a10897;
}

.heading:after {
  transform: translateX(calc(1vw / var(--resizer) * 100));
  text-shadow: calc(-1vw / var(--resizer) * 100) 0 #05d003;
}

.button:hover .corner {
  height: calc(550vw / var(--resizer) * 100);
  width: calc(1100vw / var(--resizer) * 100);
  animation: none;
}

.button.transparent:hover .corner {
  background-color: #fff;
}

.button.transparent:hover p {
  color: #000;
}

.menu {
  display: flex;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  position: relative;
  margin: 0 calc(110vw / var(--resizer) * 100) 0 0;
  font-family: 'Neue Machina';
  font-size: calc(23vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  color: rgba(255, 255, 255, 0.70);
  transition: var(--transition);
}

.menu ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(25vw / var(--resizer) * 100);
  height: calc(25vw / var(--resizer) * 100);
  transform: translate(150%, -50%);
  background: url('../img/png/star.png') center / cover no-repeat;
}

.menu ul li:last-child::after {
  content: none;
}

.menu ul li.active,
.menu ul li:hover {
  color: #fff;
}

.menu ul li:last-child {
  margin: 0;
}

.menu ul li a {
  color: inherit;
}

.burger {
  display: none;
}

.headTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.headTitle span {
  font-family: 'Mazzard';
  font-size: calc(19vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  align-self: center;
  opacity: 0.95;
  background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 35.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headTitle svg {
  min-width: calc(180vw / var(--resizer) * 100);
  height: auto;
  align-self: center;
  transform: scaleY(-1);
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 calc(31vw / var(--resizer) * 100) 0 0;
  transition: var(--transition);
}

.navLink:hover {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(0 0 calc(10vw / var(--resizer) * 100) #222);
  filter: drop-shadow(0 0 calc(10vw / var(--resizer) * 100) #222);
}

.navLink:nth-child(1) {
  width: calc(26vw / var(--resizer) * 100);
  height: calc(21.5vw / var(--resizer) * 100);
}

.navLink:nth-child(2) {
  width: calc(27vw / var(--resizer) * 100);
  height: calc(23vw / var(--resizer) * 100);
}

.navLink:nth-child(3) {
  width: calc(30vw / var(--resizer) * 100);
  height: calc(30vw / var(--resizer) * 100);
}

.navLink svg {
  width: inherit;
  height: inherit;
}

.navLink svg path {
  fill: #fff;
}

.HeaderHead .navLinkS, 
.navLinkS {
  display: flex;
  align-items: center;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(15vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100);
  z-index: 9999;
  background: transparent;
}

/* Intro */
.intro {
  position: relative;
  padding: calc(15vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100);
  background: url('../img/bg/home.png') center / cover no-repeat;
  min-height: 100vh;
}

.HeaderHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderHead nav {
  display: flex;
  align-items: center;
}

.HeaderHead nav ul {
  display: none;
}



.intro .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro h1 {
  align-self: center;
  font-family: "TTOctosquares-Regular";
  font-size: calc(66vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: calc(24vw / var(--resizer) * 100);
  color: #FFF;
}

.intro .row {
  display: flex;
  margin: calc(39vw / var(--resizer) * 100) 0 0 0;
  align-self: center;
}

.intro .row .button {
  margin: 0 calc(15vw / var(--resizer) * 100);
}

/* Factions */
.factions {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: calc(15vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100);
  min-height: 100vh;
  background: url('../img/bg/factions.png') center / cover no-repeat;
}

.factionsRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(1581vw / var(--resizer) * 100);
  z-index: 9;
}

.factionsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.factionsTitle h2 {
  font-family: 'TTOctosquares-Regular';
  font-size: calc(80vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  letter-spacing: calc(29.2vw / var(--resizer) * 100);
  color: #FFF;
}

.factionsTitle h2.glitch:before{
  -webkit-animation: noise-anim-2 5s infinite linear alternate-reverse;
  animation: noise-anim-2 5s infinite linear alternate-reverse;
}

.factionsTitle h2.glitch:after {
  -webkit-animation: noise-anim 4s infinite linear alternate-reverse;
  animation: noise-anim 4s infinite linear alternate-reverse;
}

.factionsItems {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.factionsItems::after {
  content: '';
  position: absolute;
  top: calc(30vw / var(--resizer) * 100);
  right: calc(37vw / var(--resizer) * 100);
  width: calc(10vw / var(--resizer) * 100);
  height: 90%;
  background-color: #fff;
  z-index: 1;
}

.factionsItem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 calc(20vw / var(--resizer) * 100) 0;
  width: 100%;
  transition: var(--transition);
  z-index: 2;
}

.factionsItem.active {
  margin: 0;
}

.factionsItem:nth-child(even) .factionsItemF {
  transform: rotate(180deg);
  right: calc(-7vw / var(--resizer) * 100);
}

.factionsItem:last-child {
  margin: 0;
}

.factionsItemHead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.factionsItemTitle {
  width: 80%;
  margin: 0 calc(29.2vw / var(--resizer) * 100) 0 0;
  text-align: right;
  font-family: 'TTOctosquares-Medium';
  font-size: calc(25vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFF;
  transition: var(--transition);
}

.factionsItem.active .factionsItemTitle {
  text-transform: uppercase;
}

.factionsItemF {
  position: relative;
  width: calc(91vw / var(--resizer) * 100);
  height: calc(95vw / var(--resizer) * 100);
}

.factionsItemF svg {
  width: calc(91vw / var(--resizer) * 100);
  height: calc(95vw / var(--resizer) * 100);
}

.factionsItem.active svg polygon:nth-child(3) {
  transition: var(--transition);
}

.factionsItem.active svg polygon:nth-child(3) {
  fill: #C5C1FF;
}

.factionsItemBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 80%;
  max-height: calc(0vw / var(--resizer) * 100);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.factionsItem.active .factionsItemBody {
  max-height: calc(400vw / var(--resizer) * 100);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.factionsItemImg {
  position: relative;
  width: calc(350vw / var(--resizer) * 100);
  align-self: flex-end;
  height: calc(250vw / var(--resizer) * 100);
}

.factionsItemImg::after {
  content: '';
  position: absolute;
  left: calc(5vw / var(--resizer) * 100);
  bottom: calc(5vw / var(--resizer) * 100);
  width: calc(35vw / var(--resizer) * 100);
  height: calc(35vw / var(--resizer) * 100);
  background: url('../img/png/corner-1.png') center / cover no-repeat;
  z-index: 2;
}

.factionsItemImg::before {
  content: '';
  position: absolute;
  right: calc(5vw / var(--resizer) * 100);
  top: calc(5vw / var(--resizer) * 100);
  width: calc(35vw / var(--resizer) * 100);
  height: calc(35vw / var(--resizer) * 100);
  background: url('../img/png/corner-2.png') center / cover no-repeat;
  z-index: 2;
}

.factionsItemImg p,
.factionsItemImg img {
  width: inherit;
  height: inherit;
}

.factionsItemBody .button {
  position: absolute;
  top: calc(35vw / var(--resizer) * 100);
  left: 0;
}

.factionsMoreInner {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: calc(55vw / var(--resizer) * 100) calc(150vw / var(--resizer) * 100) calc(0vw / var(--resizer) * 100) calc(150vw / var(--resizer) * 100);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: opacity .2s ease-out;
}

.factionsMoreInner.active {
  opacity: 1;
  visibility: visible;
}

.factionsMore .menu {
  z-index: 99;
}

.factionsMoreInnerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.factionsMoreImg {
  margin: calc(40vw / var(--resizer) * 100) 0 calc(20vw / var(--resizer) * 100) 0;
  width: auto;
  height: calc(99vw / var(--resizer) * 100);
}

.factionsMoreImg img {
  width: inherit;
  height: inherit;
}

.factionsMoreTitle {
  margin: 0 0 calc(15vw / var(--resizer) * 100) 0;
  max-width: calc(1200vw / var(--resizer) * 100);
  font-family: 'Move-X';
  font-size: calc(20vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #FFF;
  text-transform: uppercase;
}

.factionsMoreTitle:last-child {
  margin: 0;
}

.factionsMoreRow {
  display: flex;
  margin: calc(30vw / var(--resizer) * 100) 0 0 0;
  width: 90%;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.factionsMoreItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 calc(30vw / var(--resizer) * 100) 0;
  width: 23%;
  height: calc(220vw / var(--resizer) * 100);
  border-image: linear-gradient(to right bottom,#fff,transparent,transparent,#fff) 1;
  border-style: solid;
  border-width: calc(2vw / var(--resizer) * 100);
  background: hsla(0,0%,100%,.2);
  backdrop-filter: blur(calc(50vw / var(--resizer) * 100));
}

.factionsMoreItem:nth-child(even) {
  position: relative;
  top: calc(60vw / var(--resizer) * 100);
}

.factionsMoreItem p,
.factionsMoreItem img {
  width: calc(200vw / var(--resizer) * 100);
  height: calc(160vw / var(--resizer) * 100);
  transition: var(--transition);
}

.factionsMoreItem:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(225, 225, 225, 0.6));
}

.factionsMoreF {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(91vw / var(--resizer) * 100);
  height: calc(401vw / var(--resizer) * 100);
  z-index: 99;
}

.factionsMoreF::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-15%, 10%);
  width: calc(10vw / var(--resizer) * 100);
  height: 100%;
  background: #646464;
  z-index: 98;
}

.factionsMoreF svg {
  position: relative;
  width: calc(91vw / var(--resizer) * 100);
  height: calc(95vw / var(--resizer) * 100);
  z-index: 99;
}

/* Roadmap */
.roadmap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: calc(139vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100) calc(246vw / var(--resizer) * 100) calc(155vw / var(--resizer) * 100);
  min-height: 200vh;
  align-items: flex-start;
  background: url('../img/bg/roadmap.png') center / cover no-repeat;
}

.factions-roadmap {
  position: absolute;
  top: 190vh;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(300vw / var(--resizer) * 100);
}

.factions-roadmap::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: inherit;
  background: linear-gradient(200deg, #0A1418 -20.47%, #352F46 112.47%);
  filter: blur(calc(64vw / var(--resizer) * 100));
  z-index: 2;
  overflow: hidden;
}

.factions-roadmap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: inherit;
  
  background: linear-gradient(200deg, #0A1418 -20.47%, #352F46 112.47%);
  filter: blur(calc(64vw / var(--resizer) * 100));
  z-index: 2;
  overflow: hidden;
}

.roadmap .headTitle span {
  padding: 0 calc(10vw / var(--resizer) * 100) 0 0;
  align-self: flex-end;
}

.roadmap h2 {
  position: relative;
  font-family: 'TTOctosquares-Regular';
  font-size: calc(74vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: calc(24vw / var(--resizer) * 100);
  color: #FFF;
  z-index: 2;
}

.roadmap h2 span {
  letter-spacing: calc(-20vw / var(--resizer) * 100);
}

.roadmap .headTitle svg {
  position: relative;
  bottom: calc(5vw / var(--resizer) * 100);
  transform: none;
}

.roadmapItems {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: calc(87vw / var(--resizer) * 100) 0 0 0;
}

.roadmapItems::after {
  content: '';
  position: absolute;
  top: calc(100vw / var(--resizer) * 100);
  left: calc(43vw / var(--resizer) * 100);
  width: calc(10vw / var(--resizer) * 100);
  height: 80%;
  background-color: #fff;
  z-index: 1;
}

.roadmapItem {
  display: flex;
  margin: 0 0 calc(50vw / var(--resizer) * 100) 0;
  align-items: center;
  transition: var(--transition);
}

.roadmapItem:nth-child(even) .roadmapItemF {
  transform: rotate(180deg);
  right: calc(-6vw / var(--resizer) * 100);
}

.roadmapItemF,
.roadmapItemF svg {
  position: relative;
  width: calc(91vw / var(--resizer) * 100);
  height: calc(95vw / var(--resizer) * 100);
  z-index: 2;
  transition: var(--transition);
}

.roadmapItemBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 calc(45vw / var(--resizer) * 100);
  padding: calc(45vw / var(--resizer) * 100) calc(40vw / var(--resizer) * 100) calc(40vw / var(--resizer) * 100) calc(40vw / var(--resizer) * 100);
  width: calc(500vw / var(--resizer) * 100);
  height: auto;
  clip-path: polygon(16.4% 0%, 22.8% 10.8%, 100% 11.3%, 99.8% 87.5%, 84.7% 88.3%, 78.8% 100%, 0% 100%, 0% 0%);
  background: linear-gradient(250deg, rgba(255, 255, 255, 0.00) -24.77%, rgba(255, 255, 255, 0.15) 105.99%);
  backdrop-filter: blur(calc(5vw / var(--resizer) * 100));
  border-image: linear-gradient(to right bottom, rgba(128, 128, 128, 0.7), transparent, transparent, rgb(255, 255, 255)) 1 / 1 / 0 stretch;
  border-style: solid;
  border-width: calc(2vw / var(--resizer) * 100);
  cursor: pointer;
  overflow: hidden;
  transition: var(--transition);
}

.roadmapItemBody:hover {
  width: calc(550vw / var(--resizer) * 100);
  background: linear-gradient(250deg, rgba(255, 255, 255, 0.70) -24.77%, rgba(255, 255, 255, 0.85) 105.99%);
  clip-path: polygon(32.7% 0%, 35.9% 3.8%, 100% 4%, 100% 95%, 63.3% 95.3%, 60.2% 100%, 0% 100%, 0% 0%);
}

.roadmapItemBody .corner {
  position: absolute;
  background-color: #fff;
  width: calc(25vw / var(--resizer) * 100);
  height: calc(25vw / var(--resizer) * 100);
  transition: var(--transition);
}

.roadmapItemBody .corner-f {
  right: auto;
  top: auto;
  bottom: calc(5vw / var(--resizer) * 100);
  left: calc(5vw / var(--resizer) * 100);
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.roadmapItemBody .corner-s {
  right: calc(5vw / var(--resizer) * 100);
  top: calc(30vw / var(--resizer) * 100);
  bottom: auto;
  left: auto;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.roadmapItemBody:hover .corner-s {
  top: calc(15vw / var(--resizer) * 100);
}

.roadmapItemBody:hover .corner {
  background-color: #000;
}

.roadmapItemNum {
  margin: 0 0 calc(5vw / var(--resizer) * 100) 0;
  font-family: 'Neue Machina';
  font-size: calc(41vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #FFF;
  transition: var(--transition);
}

.roadmapItemBody:hover .roadmapItemNum {
  font-size: calc(52vw / var(--resizer) * 100);
  color: #000;
}

.roadmapItemTitle,
.roadmapItemText {
  font-family: 'Mazzard';
  font-size: calc(14vw / var(--resizer) * 100);
  font-style: normal;
  line-height: 140%;
  color: #FFF;
  transition: var(--transition);
}

.roadmapItemBody:hover .roadmapItemTitle,
.roadmapItemBody:hover .roadmapItemText {
  font-size: calc(16vw / var(--resizer) * 100);
  color: #000;
}

.roadmapItemTitle {
  font-weight: 700;
}

.roadmapItemText {
  margin: calc(5vw / var(--resizer) * 100) 0 0 0;
  font-weight: 400;
}

/* Collaborations */
.collaborations {
  position: relative;
  background: url('../img/bg/collaborations.png') center / cover no-repeat;
  min-height: 70vh;
}

.collaborations h2 {
  margin: calc(34vw / var(--resizer) * 100) 0 0 0;
  text-align: center;
  font-size: calc(74vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  letter-spacing: calc(13.4vw / var(--resizer) * 100);
  color: #FFF;
}

.collaborationsRow {
  display: flex;
  justify-content: center;
  margin: calc(60vw / var(--resizer) * 100) 0 0 0;
}

.collaborationsItem {
  position: relative;
  margin: 0 calc(25vw / var(--resizer) * 100);
  width: calc(241vw / var(--resizer) * 100);
  height: calc(113vw / var(--resizer) * 100);
  background: linear-gradient(250deg, rgba(255, 255, 255, 0.04) -24.77%, rgba(255, 255, 255, 0.30) 105.99%);
  clip-path: polygon(22.2% 0%, 28.9% 7.5%, 100% 7%, 100% 92%, 81.9% 92.3%, 75.9% 100%, 0% 100%, 0% 0%);
  transition: var(--transition);
}

.collaborationsItem:hover {
  clip-path: polygon(78.3% 0%, 87.6% 6.5%, 100% 7%, 100% 100%, 20.3% 93.5%, 12.9% 100%, 0% 100%, 0% 9.3%);
}

.collaborationsItem .corner {
  position: absolute;
  background-color: #fff;
  width: calc(15vw / var(--resizer) * 100);
  height: calc(15vw / var(--resizer) * 100);
}

.collaborationsItem .corner-f {
  right: auto;
  top: auto;
  bottom: calc(5vw / var(--resizer) * 100);
  left: calc(5vw / var(--resizer) * 100);
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.collaborationsItem .corner-s {
  right: calc(5vw / var(--resizer) * 100);
  top: calc(13vw / var(--resizer) * 100);
  bottom: auto;
  left: auto;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.collaborationsItem p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  text-align: center;
  font-size: calc(25vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transform: translate(-50%, -25%);
  text-transform: uppercase;
}

/* FAQ */
.faq {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(33vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100);
  background: url('../img/bg/faq.png') top / cover no-repeat;
  min-height: 100vh;
}

.faq h2 {
  margin: calc(34vw / var(--resizer) * 100) 0 0 0;
  align-self: center;
  width: calc(800vw / var(--resizer) * 100);
  text-align: center;
  font-size: calc(74vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: calc(13.44vw / var(--resizer) * 100);
  color: #FFF;
}

.faq h2 svg {
  width: calc(55vw / var(--resizer) * 100);
  height: calc(55vw / var(--resizer) * 100);
}

.faqRow {
  position: relative;
  display: flex;
  width: 95%;
  align-self: flex-end;
  margin: calc(90vw / var(--resizer) * 100) 0 0 0;
  padding: calc(5vw / var(--resizer) * 100) 0 0 0;
  background: linear-gradient(238deg, rgba(255, 255, 255, 0.00) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
  clip-path: polygon(4.9% 0%, 6.3% 2.3%, 100% 3%, 100% 96.5%, 94.9% 96.5%, 93.1% 100%, 0% 100%, 0.1% 0%);
  backdrop-filter: blur(calc(26vw / var(--resizer) * 100));
  border: calc(2vw / var(--resizer) * 100) solid rgba(255, 255, 255, 0.33);
  z-index: 4;
}

.faqItems {
  display: flex;
  flex-direction: column;
  padding: calc(40vw / var(--resizer) * 100) 0 0 0;
  width: 33%;
  border-right: calc(2vw / var(--resizer) * 100) solid #fff;
}

.faqItems:last-child {
  border: none;
}

.faqItems .faqItem {
  padding: calc(20vw / var(--resizer) * 100) calc(30vw / var(--resizer) * 100);
  border-bottom: calc(2vw / var(--resizer) * 100) solid #fff;
  flex: 1 1 auto;
}

.faqItems .faqItem:last-child {
  border: none;
}

.faqItem h3 {
  margin: 0 0 calc(15vw / var(--resizer) * 100) 0;
  font-size: calc(31vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 117.8%;
  letter-spacing: calc(3vw / var(--resizer) * 100);
  text-transform: uppercase;
  color: #FFF;
}

.faqItem p {
  font-family: 'Mazzard';
  font-size: calc(14vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #FFF;
}

.faqItem span {
  font-family: 'Mazzard';
  font-size: inherit;
  font-weight: 700;
  opacity: 0.95;
  color: #FFF;
}

.faqItem h4 {
  margin: calc(5vw / var(--resizer) * 100) 0 0 0;
  font-family: 'Mazzard';
  font-size: calc(24vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #FFF;
  opacity: 0.95;
}

.faqItemDe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: calc(2vw / var(--resizer) * 100) solid #fff;
}

.faqItemDe div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(10vw / var(--resizer) * 100) 0;
  width: 33%;
  border-right: calc(2vw / var(--resizer) * 100) solid #fff;
}

.faqItemDe div:nth-child(1) svg {
  width: calc(63vw / var(--resizer) * 100);
  height: calc(25vw / var(--resizer) * 100);
}

.faqItemDe div:nth-child(2) svg {
  margin: 0 calc(2.5vw / var(--resizer) * 100);
  width: calc(26.51vw / var(--resizer) * 100);
  height: calc(26.51vw / var(--resizer) * 100);
}

.faqItemDe div:nth-child(3) {
  border: none;
}

.faqItemDe div:nth-child(3) svg {
  margin: 0 calc(1vw / var(--resizer) * 100);
  width: calc(30vw / var(--resizer) * 100);
  height: calc(19vw / var(--resizer) * 100);
}

.faqItemDc {
  display: flex;
}

.faqItemDc div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(20vw / var(--resizer) * 100);
}

.faqItemDc div:first-child {
  width: 30%;
  border-right: calc(2vw / var(--resizer) * 100) solid #fff;
}

.faqItemDc div:first-child svg {
  width: calc(69vw / var(--resizer) * 100);
  height: calc(69vw / var(--resizer) * 100);
}

.faqItemDc div:last-child {
  width: 70%;
}

.faqItemDc:last-child svg {
  margin: 0 calc(5vw / var(--resizer) * 100);
  width: calc(45vw / var(--resizer) * 100);
  height: calc(45vw / var(--resizer) * 100);
}

/* FAQ-Meet */
.faq-meet {
  position: relative;
  top: calc(-100vw / var(--resizer) * 100);
  width: 100%;
}

.faq-meet::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 140%;
  height: calc(300vw / var(--resizer) * 100);
  background: linear-gradient(201deg, #09090A 61.26%, #121928 95.96%);  
  filter: blur(calc(80.5vw / var(--resizer) * 100));
  z-index: 2;
  overflow: hidden;
}

.faq-meet::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 140%;
  transform: scaleX(-1);
  height: calc(300vw / var(--resizer) * 100);
  background: linear-gradient(201deg, #09090A 61.26%, #121928 95.96%);  
  filter: blur(calc(80.5vw / var(--resizer) * 100));
  z-index: 2;
  overflow: hidden;
}

/* Meet */
.meet {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(75vw / var(--resizer) * 100) 0 calc(200vw / var(--resizer) * 100) 0;
  background: url('../img/bg/meet.png') center / cover no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.meet h2 {
  position: relative;
  margin: calc(34vw / var(--resizer) * 100) 0 0 0;
  font-size: calc(74vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: calc(13.44vw / var(--resizer) * 100);
  color: #FFF;
  text-align: center;
  z-index: 4;
}

.meet h2 svg {
  width: calc(71vw / var(--resizer) * 100);
  height: calc(44vw / var(--resizer) * 100);
}

.meetRow {
  position: relative;
  left: calc(80vw / var(--resizer) * 100);
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: flex-start;
  margin: calc(104vw / var(--resizer) * 100) 0 0 0;
  width: 93%;
}

.meetRow::after {
  content: '';
  position: absolute;
  top: 20%;
  right: 13.3%;
  width: calc(150vw / var(--resizer) * 100);
  height: calc(150vw / var(--resizer) * 100);
  background: url('../img/png/drag.png') center / cover no-repeat;
  z-index: 99;
  animation: rotate180 5s linear infinite;
}

.meetItem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 calc(50vw / var(--resizer) * 100) 0 0;
  zoom: 100%;
  cursor: pointer;
  transition: var(--transition);
}

.meetItemInner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(30vw / var(--resizer) * 100) calc(10vw / var(--resizer) * 100);
  background: linear-gradient(238deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
  clip-path: polygon(14% 0%, 18.3% 2%, 100% 2.3%, 100% 98%, 84.3% 97.8%, 81.2% 100%, 0% 100%, 0% 0%);
  backdrop-filter: blur(calc(26vw / var(--resizer) * 100));
  border: calc(2vw / var(--resizer) * 100) solid rgba(255, 255, 255, 0.33);
  transition: var(--transition);
  z-index: 4;
}

.meetItem.active {
  margin: 0 calc(25vw / var(--resizer) * 100) 0 0;
  zoom: 180%;
  order: -1;
}

.meetItem.active .meetItemInner {
  background: linear-gradient(238deg, rgba(255, 255, 255, 1) -7.92%, rgba(255, 255, 255, 0.7) 33.87%);
  
}

.meetItem.active .meetSubtitle,
.meetItem.active .meetTitle {
  color: #000;
}

.meetImg,
.meetImg img {
  width: calc(307vw / var(--resizer) * 100);
  height: calc(388vw / var(--resizer) * 100);
  transition: var(--transition);
  clip-path: polygon(15% 0%, 94.3% 0%, 100% 5.8%, 100% 100%, 85% 100%, 6.3% 99.8%, 0% 94.3%, 0% 0%);
  overflow: hidden;
}

.meetSubtitle {
  margin: calc(13vw / var(--resizer) * 100) 0 0 0;
  font-family: 'Mazzard';
  font-size: calc(12vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #FFF;
  transition: var(--transition);
}

.meetTitle {
  margin: calc(3vw / var(--resizer) * 100) 0 0 0;
  font-size: calc(25vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 117.8%;
  text-transform: uppercase;
  color: #FFF;
  transition: all .5s linear;
}

.meetItemInner:hover {
  background: linear-gradient(238deg, rgba(255, 255, 255, 1) -7.92%, rgba(255, 255, 255, 0.7) 33.87%);
  clip-path: polygon(14% 0%, 42.9% 2%, 100% 0%, 100% 98%, 74.4% 98.3%, 46.9% 100%, 0% 100%, 0% 0%);
}

.meetItemInner:hover .meetSubtitle,
.meetItemInner:hover .meetTitle {
  color: #000;
}

.meetItemInner:hover .meetImg,
.meetItemInner:hover .meetImg img {
  clip-path: polygon(15% 0%, 87.6% 0%, 100% 5.8%, 100% 100%, 85% 100%, 18.5% 100%, 0% 94.3%, 0% 0%);
}

.meetBody {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  padding: calc(30vw / var(--resizer) * 100);
  bottom: calc(12.5vw / var(--resizer) * 100);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 7.04%, rgba(255, 255, 255, 0.00) 105.55%);
  border: calc(1.5vw / var(--resizer) * 100) solid #fff;
  backdrop-filter: blur(calc(95vw / var(--resizer) * 100));
  clip-path: polygon(15% 0%, 87.6% 0%, 100% 0%, 100% 88%, 94.1% 100%, 18.5% 100%, 0% 100%, 0% 0%);
  transition: .6s all linear;
  transform: scale(0);
}

.meetItem.active .meetBody {
  right: -125%;
  opacity: 1;
  width: calc(420vw / var(--resizer) * 100);
  transform: scale(1);
  bottom: calc(10.5vw / var(--resizer) * 100);
}

.meetBody p {
  color: #FFF;
  font-family: 'Mazzard';
  font-size: calc(11vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.meetBody p span {
  font-weight: 700;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(75vw / var(--resizer) * 100) calc(45vw / var(--resizer) * 100);
  background-color: #000;
}

.footerRow {
  display: flex;
  align-items: center;
}

footer .logotype {
  margin: 0 calc(100vw / var(--resizer) * 100) 0 0;
}

footer .copytext {
  font-family: 'Mazzard';
  font-size: calc(15vw / var(--resizer) * 100);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  color: #FFF;
  text-align: right;
}


/* Keyframes */
@keyframes noise-anim {
  0% {
    clip: rect(calc(21vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(57vw / var(--resizer) * 100), 0);
  }
  5% {
    clip: rect(calc(21vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(80vw / var(--resizer) * 100), 0);
  }
  10% {
    clip: rect(calc(55vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  15.0% {
    clip: rect(calc(22vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(55vw / var(--resizer) * 100), 0);
  }
  20% {
    clip: rect(calc(38vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  25% {
    clip: rect(calc(31vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(84vw / var(--resizer) * 100), 0);
  }
  30.0% {
    clip: rect(calc(15vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  35% {
    clip: rect(calc(16vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(100vw / var(--resizer) * 100), 0);
  }
  40% {
    clip: rect(calc(25vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(10vw / var(--resizer) * 100), 0);
  }
  45% {
    clip: rect(calc(19vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(19vw / var(--resizer) * 100), 0);
  }
  50% {
    clip: rect(calc(71vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(35vw / var(--resizer) * 100), 0);
  }
  55.0% {
    clip: rect(calc(89vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(21vw / var(--resizer) * 100), 0);
  }
  60.0% {
    clip: rect(calc(20vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
  65% {
    clip: rect(calc(22vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(61vw / var(--resizer) * 100), 0);
  }
  70% {
    clip: rect(calc(65vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  75% {
    clip: rect(calc(82vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(47vw / var(--resizer) * 100), 0);
  }
  80% {
    clip: rect(calc(64vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(11vw / var(--resizer) * 100), 0);
  }
  85.0% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  90% {
    clip: rect(calc(60vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(60vw / var(--resizer) * 100), 0);
  }
  95% {
    clip: rect(calc(9vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(90vw / var(--resizer) * 100), 0);
  }
  100% {
    clip: rect(calc(40vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(62vw / var(--resizer) * 100), 0);
  }
}
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(calc(21vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(57vw / var(--resizer) * 100), 0);
  }
  5% {
    clip: rect(calc(21vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(80vw / var(--resizer) * 100), 0);
  }
  10% {
    clip: rect(calc(55vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  15.0% {
    clip: rect(calc(22vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(55vw / var(--resizer) * 100), 0);
  }
  20% {
    clip: rect(calc(38vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  25% {
    clip: rect(calc(31vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(84vw / var(--resizer) * 100), 0);
  }
  30.0% {
    clip: rect(calc(15vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  35% {
    clip: rect(calc(16vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(100vw / var(--resizer) * 100), 0);
  }
  40% {
    clip: rect(calc(25vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(10vw / var(--resizer) * 100), 0);
  }
  45% {
    clip: rect(calc(19vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(19vw / var(--resizer) * 100), 0);
  }
  50% {
    clip: rect(calc(71vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(35vw / var(--resizer) * 100), 0);
  }
  55.0% {
    clip: rect(calc(89vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(21vw / var(--resizer) * 100), 0);
  }
  60.0% {
    clip: rect(calc(20vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
  65% {
    clip: rect(calc(22vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(61vw / var(--resizer) * 100), 0);
  }
  70% {
    clip: rect(calc(65vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  75% {
    clip: rect(calc(82vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(47vw / var(--resizer) * 100), 0);
  }
  80% {
    clip: rect(calc(64vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(11vw / var(--resizer) * 100), 0);
  }
  85.0% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(28vw / var(--resizer) * 100), 0);
  }
  90% {
    clip: rect(calc(60vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(60vw / var(--resizer) * 100), 0);
  }
  95% {
    clip: rect(calc(9vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(90vw / var(--resizer) * 100), 0);
  }
  100% {
    clip: rect(calc(40vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(62vw / var(--resizer) * 100), 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(calc(77vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(63vw / var(--resizer) * 100), 0);
  }
  5% {
    clip: rect(calc(7vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(6vw / var(--resizer) * 100), 0);
  }
  10% {
    clip: rect(calc(82vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(78vw / var(--resizer) * 100), 0);
  }
  15.0% {
    clip: rect(calc(85vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(25vw / var(--resizer) * 100), 0);
  }
  20% {
    clip: rect(calc(93vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(38vw / var(--resizer) * 100), 0);
  }
  25% {
    clip: rect(calc(70vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(6vw / var(--resizer) * 100), 0);
  }
  30.0% {
    clip: rect(calc(41vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(72vw / var(--resizer) * 100), 0);
  }
  35% {
    clip: rect(calc(9vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(65vw / var(--resizer) * 100), 0);
  }
  40% {
    clip: rect(calc(6vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
  45% {
    clip: rect(calc(84vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(6vw / var(--resizer) * 100), 0);
  }
  50% {
    clip: rect(calc(9vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(45vw / var(--resizer) * 100), 0);
  }
  55.0% {
    clip: rect(calc(7vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(73vw / var(--resizer) * 100), 0);
  }
  60.0% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(20vw / var(--resizer) * 100), 0);
  }
  65% {
    clip: rect(calc(55vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(44vw / var(--resizer) * 100), 0);
  }
  70% {
    clip: rect(calc(58vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(11vw / var(--resizer) * 100), 0);
  }
  75% {
    clip: rect(calc(61vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(82vw / var(--resizer) * 100), 0);
  }
  80% {
    clip: rect(calc(60vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(9vw / var(--resizer) * 100), 0);
  }
  85.0% {
    clip: rect(3calc(7vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  90% {
    clip: rect(calc(32vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(64vw / var(--resizer) * 100), 0);
  }
  95% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(16vw / var(--resizer) * 100), 0);
  }
  100% {
    clip: rect(calc(47vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(calc(77vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(63vw / var(--resizer) * 100), 0);
  }
  5% {
    clip: rect(calc(7vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(96vw / var(--resizer) * 100), 0);
  }
  10% {
    clip: rect(calc(82vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(78vw / var(--resizer) * 100), 0);
  }
  15.0% {
    clip: rect(calc(85vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(25vw / var(--resizer) * 100), 0);
  }
  20% {
    clip: rect(calc(93vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(38vw / var(--resizer) * 100), 0);
  }
  25% {
    clip: rect(calc(70vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(96vw / var(--resizer) * 100), 0);
  }
  30.0% {
    clip: rect(calc(41vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(72vw / var(--resizer) * 100), 0);
  }
  35% {
    clip: rect(calc(39vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(65vw / var(--resizer) * 100), 0);
  }
  40% {
    clip: rect(calc(36vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
  45% {
    clip: rect(calc(84vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), 9calc(6vw / var(--resizer) * 100), 0);
  }
  50% {
    clip: rect(calc(99vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(45vw / var(--resizer) * 100), 0);
  }
  55.0% {
    clip: rect(calc(37vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(73vw / var(--resizer) * 100), 0);
  }
  60.0% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(20vw / var(--resizer) * 100), 0);
  }
  65% {
    clip: rect(calc(55vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(44vw / var(--resizer) * 100), 0);
  }
  70% {
    clip: rect(calc(58vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(11vw / var(--resizer) * 100), 0);
  }
  75% {
    clip: rect(calc(61vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(82vw / var(--resizer) * 100), 0);
  }
  80% {
    clip: rect(calc(60vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(9vw / var(--resizer) * 100), 0);
  }
  85.0% {
    clip: rect(calc(37vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(69vw / var(--resizer) * 100), 0);
  }
  90% {
    clip: rect(calc(32vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(64vw / var(--resizer) * 100), 0);
  }
  95% {
    clip: rect(calc(63vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(16vw / var(--resizer) * 100), 0);
  }
  100% {
    clip: rect(calc(47vw / var(--resizer) * 100), calc(9999vw / var(--resizer) * 100), calc(34vw / var(--resizer) * 100), 0);
  }
}

@keyframes cornerAnimation {
  0% {
    transform: skewX(0) rotate(0);
  }
  25% {
    transform: skewX(5deg) rotate(5deg);
  }
  50% {
    transform: skewX(-5deg) rotate(-5deg);
  }
  75% {
    transform: skewX(5deg) rotate(5deg);
  }
  100% {
    transform: skewX(0) rotate(0);
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}